* {
	box-sizing: border-box;
	padding: 0;
	margin: 0
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--red: hsl(0, 100%, 74%)
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden
}


/* .section {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity .6s ease-out, transform .6s ease-out;
} */

.section.visible {
	opacity: 1;
	transform: translateY(0)
}

header {
	width: 100vw;
	background-color: black;
	align-self: center;
	margin: 0
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.hamburger {
	display: none;
	margin: 10px 20px;
	font-weight: 700;
	font-size: 1.8rem;
	transition: 0.2s ease-in-out all;
}

.hamburger:hover {
	cursor: pointer;
	color: var(--red);
	transform: scale(1.05);
}

nav .image-container {
	height: 150px;
	object-fit: contain
}

nav .image-container img {
	height: 100%
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-self: center;
	margin-right: 30px
}

nav ul li {
	margin: 0 15px
}

nav ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.3rem;
	position: relative;
	display: inline-block;
	transition: .2s ease-in transform
}

nav ul li a:hover {
	transform: scale(1.1) translateY(-1px);
	color: var(--red)
}

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
	align-self: center;
	position: relative;
	overflow: hidden;
	z-index: 10;
	flex-shrink: 0;
	margin: 0
}

.hero-section .image-container {
	height: 700px;
	width: 100vw;
	max-width: 100%;
	object-fit: cover;
	overflow: hidden
}

.hero-section .image-container img {
	height: 100%;
	width: 100%;
	object-fit: cover
}

.hero-section .hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 50px;
	opacity: .9;
	box-shadow: 8px 8px 10px var(--red)
}

.hero-section .hero-text h1 {
	font-size: 3rem;
	margin-bottom: 10px;
	animation: fadeInUp 1.5s ease-out
}

.hero-section .hero-text p {
	font-size: 1.3rem;
	margin-bottom: 20px;
	color: var(--red);
	animation: fadeInUp 1.5s ease-out
}

.hero-section .cta-button {
	font-size: 1.2rem;
	padding: 12px;
	color: var(--red);
	background-color: #fff;
	border: 3px solid var(--red);
	border-radius: 50px;
	display: inline-block;
	transition: .2s ease-in-out transform;
	font-weight: 800;
	animation: fadeInRight 1.5s ease-out;
	position: relative
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(200px)
	}

	100% {
		opacity: .9;
		transform: translateX(0)
	}
}

.hero-section .cta-button:hover {
	cursor: pointer;
	transform: scale(1.08) translateY(-2px);
	color: white;
	border: 3px solid white;
	background-color: var(--red)
}

.about-section {
	background-color: black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 80%;
	align-self: center
}

.about-section article {
	padding: 80px;
	background-color: inherit;
	text-align: center
}

.about-section article h2 {
	font-size: 3rem;
	margin-bottom: 30px;
	animation: fadeInUp 1.5s ease-out
}

.about-section article p {
	font-size: 1.2rem;
	margin-bottom: 30px;
	color: white;
	line-height: 1.7
}

.about-section article h4 {
	font-size: 1.6rem;
	text-transform: uppercase;
	color: var(--red);
	animation: fadeIn 3.5s ease-out;
	margin-bottom: 20px
}

.about-section article button {
	font-size: 1.2rem;
	margin-top: 20px;
	padding: 12px;
	color: var(--red);
	background-color: #fff;
	border: 3px solid var(--red);
	border-radius: 50px;
	display: inline-block;
	transition: .2s ease-in-out transform;
	font-weight: 800;
	position: relative;
	animation: fadeIn 3.5s ease-out
}

.about-section article button:hover {
	cursor: pointer;
	transform: scale(1.08) translateY(-2px);
	color: white;
	border: 3px solid white;
	background-color: var(--red)
}

.image-carousel {
	display: flex;
	width: 90vw;
	z-index: 1
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	flex: .5;
	margin: 10px;
	position: relative;
	-webkit-transition: all 500ms ease-in;
	will-change: transform;
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity .3s ease-in .4s
}

.testimonials-section {
	background-color: black;
	padding: 40px 0;
	text-align: center;
	color: white
}

.testimonials-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
	padding: 20px
}

.testimonial {
	background-color: var(--red);
	color: #fff;
	padding: 20px 80px;
	border-radius: 8px;
	max-width: 800px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	opacity: 1;
	transform: translateY(0);
	transition: transform .3s ease, opacity .3s ease;
	display: none
}

.testimonial p {
	font-size: 1.1rem;
	line-height: 1.5;
	margin-bottom: 10px
}

.testimonials-section h2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 20px
}

.testimonial .client-name {
	font-size: 1.1rem;
	font-weight: normal;
	margin-top: 10px
}

.testimonial-arrows {
	display: flex;
	justify-content: center;
	margin-top: 0
}

.arrow {
	font-size: 2rem;
	color: white;
	cursor: pointer;
	margin: 10px;
	transition: .3s ease
}

.arrow:hover {
	color: var(--red);
	transform: scale(1.2)
}

.testimonial .testimonial-image {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-bottom: 10px
}

.testimonial .testimonial-image img {
	width: 100%;
	height: 100%;
	border-radius: 50%
}

.left-arrow {
	left: 10px
}

.right-arrow {
	right: 10px
}

.testimonial img {
	height: 200px;
	width: 200px;
	border-radius: 50%
}

footer {
	background-color: inherit;
	color: #fff;
	padding: 40px 20px;
	text-align: center
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px
}

.social-media {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
	color: white
}

.social-media a {
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	transition: color .3s ease-in-out, transform .3s;
	ease-in-out;
	display: inline-block;
	position: relative
}

.social-media a:hover {
	transform: scale(1.1) translateY(-5px)
}

.social-icon.facebook {
	color: #3b5998
}

.social-icon.instagram {
	color: #e1306c
}

.social-icon.twitter {
	color: #1da1f2
}

.social-icon.linkedin {
	color: #0077b5
}

.contact-info {
	margin: 20px 0;
	font-size: 1.2rem
}

.contact-info a {
	color: white;
	text-decoration: none;
	transition: color .1s ease-in-out
}

.contact-info a:hover {
	color: var(--red)
}

.contact-info p {
	margin: 5px 0
}

.copyright {
	font-size: 1rem;
	color: #aaa
}

#scrollToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 12px;
	color: var(--red);
	background-color: white;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: opacity .3s ease background-color .3s ease color .3s ease transform .3s ease
}

#scrollToTop:hover {
	background-color: var(--red);
	color: white;
	transform: scale(1.03) translateY(-1px)
}

#scrollToTop:active {
	transform: scale(0.95)
}

.fa-arrow-up {
	margin-right: 5px
}

.services-section {
	background-color: #f4f4f4;
	padding: 50px 0;
	text-align: center
}

.services-section h2 {
	font-size: 3rem;
	margin-bottom: 30px;
	color: var(--red)
}

.services-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 30px
}

.service-card {
	background-color: white;
	border: 2px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	width: 30%;
	transition: transform .3s ease, box-shadow .3s ease;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.service-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.service-card h3 {
	font-size: 1.8rem;
	margin-bottom: 15px;
	color: var(--red)
}

.service-card p {
	font-size: 1.1rem;
	color: #333;
	margin-bottom: 20px
}

.service-card button {
	font-size: 1.1rem;
	padding: 10px 20px;
	color: #fff;
	background-color: var(--red);
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	transition: .3s ease
}

.service-card button:hover {
	background-color: #d00000
}

.results-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center
}

.results-container h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: #333;
	margin-bottom: 1rem
}

.results-container p {
	font-size: 1rem;
	color: #555;
	margin-bottom: 2rem
}

.results-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.5rem;
	margin-top: 2rem
}

.results-grid img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	transition: transform .3s ease, box-shadow .3s ease
}

.results-grid img:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.cta-button {
	display: inline-block;
	margin-top: 2rem;
	padding: .8rem 2rem;
	background-color: #4caf50;
	color: white;
	text-decoration: none;
	font-weight: 500;
	border-radius: 4px;
	transition: background-color .3s ease
}

.cta-button:hover {
	background-color: #45a049
}

.contact-section {
	padding: 50px;
	background-color: black;
	color: white;
	text-align: center
}

.contact-section h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: var(--red)
}

.contact-section p {
	margin-bottom: 30px;
	font-size: 1.2rem
}

form#contact-form {
	max-width: 600px;
	margin: 0 auto;
	background: #121212;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5)
}

.form-group {
	margin-bottom: 20px;
	text-align: left
}

.form-group label {
	display: block;
	margin-bottom: 10px;
	font-size: 1rem
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border: 2px solid var(--red);
	border-radius: 5px;
	background: black;
	color: white
}

form#contact-form .submit-button {
	background-color: var(--red);
	color: white;
	padding: 10px 20px;
	border: 0;
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color .3s ease, color .3s ease, transform .3s ease-in
}

form#contact-form .submit-button:hover {
	background-color: white;
	color: var(--red);
	transform: scale(1.03) translateY(-2px)
}

@media(max-width:768px) {
	body {
		overflow-x: hidden
	}


	nav ul {
		display: none;
		flex-direction: column;
		background-color: black;
		position: absolute;
		top: 60px;
		right: 0;
		width: 200px;
		padding: 20px;
		z-index: 1000;
		border-radius: 20px;
		gap: 30px
	}

	nav ul.active {
		display: flex
	}

	.hamburger {
		display: block;
		cursor: pointer;
		font-size: 2rem;
		color: white
	}
	.hero-section .hero-text h1 {
		font-size: 2.5remn
	}
	.hero-section .hero-text p {
		font-size: 1.2rem;
	}
	.about-section article {
		padding: 40px
	}

	.about-section article h2 {
		font-size: 2.5rem;
		padding-bottom: 30px;
		padding-top: 0;
	}
.section {
		opacity: 1;
		transform: translateY(0)
	}
	.testimonials-section h2 {
		font-size: 1.6rem
	}

	.arrow {
		margin-bottom: 50px;
	}
	.panel {
        background-size: cover; /* Adjust background size to contain */
        background-position: center center; /* Center the background image */
        height: 300px; /* Adjust height for smaller screens */
    }
	.panel h3 {
		font-size: 18px
	}
	.testimonials-container {
		padding: 0 10px;
		margin: 20px;
	}

	.services-section {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        flex: 1 1 80%; /* Take up most of the width of the screen */
        margin: 10px 0; /* Add vertical spacing between cards */
    }
}

@media(max-width:480px) {
	.container {
		width: 100vw
	}


}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(-200px)
	}

	100% {
		opacity: .9;
		transform: translateY(0)
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}